# Import Data

In [1]:
#Import libraries and packages
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [2]:
#Import dataset taken from kaggle
df = pd.read_csv('Admission_Data.csv')
df.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,324,107,4,4.0,4.5,8.87,1,0.76
2,3,316,104,3,3.0,3.5,8.00,1,0.72
3,4,322,110,3,3.5,2.5,8.67,1,0.80
4,5,314,103,2,2.0,3.0,8.21,0,0.65

In [3]:
#Information about dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Serial No.         500 non-null    int64
 1   GRE Score          500 non-null    int64
 2   TOEFL Score        500 non-null    int64
 3   University Rating  500 non-null    int64
 4   SOP                500 non-null    float64
 5   LOR                500 non-null    float64
 6   CGPA               500 non-null    float64
 7   Research           500 non-null    int64
 8   Chance of Admit    500 non-null    float64
dtypes: float64(4), int64(5)
memory usage: 35.3 KB

#### - There are total 8 useful features in this dataset, and each of the features have 500 records.
#### - There are no null or missing values in this dataset.

In [4]:
df = df.drop('Serial No.', axis =1)

In [5]:
df.head()

,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,337,118,4,4.5,4.5,9.65,1,0.92
1,324,107,4,4.0,4.5,8.87,1,0.76
2,316,104,3,3.0,3.5,8.00,1,0.72
3,322,110,3,3.5,2.5,8.67,1,0.80
4,314,103,2,2.0,3.0,8.21,0,0.65

# Statistical analysis of training Data

In [6]:
df.describe()

,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
count,500.000000,500.000000,500.000000,500.000000,500.00000,500.000000,500.000000,500.00000
mean,316.472000,107.192000,3.114000,3.374000,3.48400,8.576440,0.560000,0.72174
std,11.295148,6.081868,1.143512,0.991004,0.92545,0.604813,0.496884,0.14114
min,290.000000,92.000000,1.000000,1.000000,1.00000,6.800000,0.000000,0.34000
25%,308.000000,103.000000,2.000000,2.500000,3.00000,8.127500,0.000000,0.63000
50%,317.000000,107.000000,3.000000,3.500000,3.50000,8.560000,1.000000,0.72000
75%,325.000000,112.000000,4.000000,4.000000,4.00000,9.040000,1.000000,0.82000
max,340.000000,120.000000,5.000000,5.000000,5.00000,9.920000,1.000000,0.97000

#### Average Chances of getting the admission of the applicants is 72%
#### Applicants chances of admit ranges from 34% to 97%

# Model Building

In [7]:
# Split dependent and independent variables
X = df.iloc[:,:-1]
y = df.iloc[:,-1]

In [8]:
# Split data into train and test set
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.20, random_state=42)

In [9]:
# Model Initilization & training
lm = LinearRegression()
lm.fit(X_train,y_train)

LinearRegression()

In [10]:
#Evaluating the Model Performance - Multiple Linear Regression
from sklearn.metrics import r2_score
predictions  = lm.predict(X_test)
print('R^2 Score: ', r2_score(y_test,predictions))

R^2 Score:  0.8188432567829628

# Save the Model

In [11]:
import pickle

In [12]:
pickle.dump(lm, open("model.pkl","wb"))